:root {
    --accent-color: #9C2E35;
    --secondary-color: #384272;
    --tertiary-color: #feaea3;
    --button-color: #e5b714;
    --preto-color: #252525;
    --background-color: #F6F2EE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scrollbar-color: var(--secondary-color, auto);
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    color: var(--preto-color);
}

section {
    width: 80%;
    margin: 48px auto;
    padding-bottom: 32px;
    /* auto so serve pra margin, nao serve pra padding */
    padding: 32px 16px;
}


section.background-colored {
    background-color: var(--background-color);
}

/* header */

.top-nav {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: transparent;
    z-index: 1000;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 50px;
}

.top-nav a {
    text-decoration: none;
}

.main-name-header {
    /* color: #252525; */
    color: var(--secondary-color);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    word-spacing: 22px;
}



.surname {
    color: var(--tertiary-color);
}

.ux-title span {
    color: linear-gradient(to right top, #384272, #755686, #ab6e93, #d98b9b, #feaea3);
}

.about,
.work,
.contact {
    color: #252525;
    font-size: 16px;
    font-family: Montserrat, serif;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    position: absolute;
    cursor: pointer;
}

.about{
    left: 0px;
    top: 0px;
}

.work{
    left: 101px;
    top: 0px;
    
}

/* The container <div> - needed to position the dropdown content */
/* eu tenho dois div com position relative que estao em conflito */
/* vou colocar em flex e align end */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/* sem position o lefet nao funciona */
/* nao da para trasition com display none ou block */
.dropdown-content {
    /* display: none; */
    opacity:0;
    max-height: 0;
    transition: all 0.5s;
    visibility: hidden;
    position: relative;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -20px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    /* display: block; */
    opacity: 1;
    max-height: 300px;
    visibility: visible;
}

.dropdown-arrow{
    color: var(--preto-color);
    display: inline-block;
    transition: all 0.5s;
}

.dropdown:hover .dropdown-arrow {
    transform: rotate(90deg);
}


/* Case Study */

/* larger fonts look better with less line spacing. Especially headers */
h1 {
    color: var(--secondary-color);
    font-size: 32px;
    letter-spacing: -2%;
}

h3 {
    font-weight: bold;
    letter-spacing: -2%;
    padding-bottom: 16px;
    padding-top: 8px;
    margin-top: 32px;
}

h4 {
    font-weight: 600;
    padding-bottom: 8px;
}


ul {
    padding-left: 18px;
    margin-top: 16px;
    margin-bottom: 32px;
}

/* Smaller text sizes work best with larger line-heights */
/* size 16px line-height: 140% */
/* spacing following the paragraph should be at least two times the font size */
p {
    font-size: 16px;
    line-height: 140%;
}

.home-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.home-project h1 {
    padding-bottom: 20px;
}

.home-project h3 {
    width: 100%;
    text-align: left;
}

.carousel-container {
    width: 80%;
    overflow-x: auto;
}

.carousel-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--secondary-color);
    /* ou que isso seja adicionado ao "caminho" da barra */
}

/* Adiciona a barra arrastável */
.carousel-container::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
}

.carousel-images-container {
    display: flex;
    flex-wrap: nowrap;
}

img.carousel {
    display: inline;
    gap: 9px;
    height: 450px;
}

/* overview section */

.project-overview {
    padding: 16px;
    background-color: var(--background-color);
}

.overview-role {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.problem-goal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-overview .year {
    font-size: 24px;
    color: var(--secondary-color);
    margin-bottom: 16px;
    font-weight: 600;
}

.project-overview h3 {
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 8px;
}

.project-overview p {
    line-height: 140%;
}


/* Design Process */

h2 {
    position: relative;
    margin-bottom: 32px;
}

h2::before {
    content: "";
    background: linear-gradient(90deg, #feaea3 0%, rgba(255, 165, 0, 0.00) 100%);
    opacity: 0.3;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 20px;
    width: 60%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* .underlined-title{
    text-decoration: underline;
    text-decoration-color: var(--tertiary-color); */
    /* text-decoration-thickness: 6px;
    margin-bottom: 32px;
    text-underline-offset: 8px; 
    }  */ 
    
    
    
     /* .underlined-title{
        text-decoration: underline;
        text-decoration-color: var(--tertiary-color);
        text-decoration-thickness: 6px;
        margin-bottom: 32px;
        text-underline-offset: 8px;
    } */


.process-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 32px;
    text-align: center;
    gap: 32px;
}

/* eu   queria os icons menores, mas se  eu altero o height, nao fica responsivo */

.process-icon p{
    font-weight: 500;
}

/* Emphasize */

.understanding-user {
    background-color: var(--background-color);
}

.painpoint-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.painpoint {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    background: var(--tertiary-color);
    border-radius: 50%;
    padding-top: 20px;
    /* para centralizar os numeros, usei esse padding top mas nao tenho certeza se é a melhor opcao. */
    margin-bottom: 25px;
}

.painpoint-description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.painpoint-description {
    text-align: center;
    padding: 16px;
    background-color: #efd8d570;
}

.painpoint-wrapper {
    display: flex;
    gap: 24px;
    margin: 0 32px;
}

.painpoint-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}



/* Define */

.define {
    width: 100%;
    margin-top: 30px;
    background-color: var(--background-color);
}

.container-personas {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 32px;
    gap: 8px;
}

.persona {
    height: 600px;
    text-align: center;
}

.user-journey-scenario-wrapper{
    display: flex;
    margin-top: 16px;
}

.user-journey-scenario{
    padding: 8px 4px;
    flex: 1;
}

img.user-journey {
    text-align: center;
    height: 600px;
    padding: 8px 4px;
}

.user-flow-container {
    display: flex;
    flex-direction: column;
}

img.user-flow {
    height: 350px;
    padding: 16px 8px;
}

.statment{
    font-weight: bolder;
}

.problem-statment{
    margin-top: 16px;
}

/* Ideate */

.ideate {
    width: 100%;
}

/* design */

.starting-design {
    display: flex;
    flex-direction: column;
}


img.wireframe {
    width: 60%;
    height: 550px;
    align-self: center;
    padding: 16px 8px;
}

.lo-fi-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

img.lo-fi {
    height: 300px;
    padding: 16px 8px;
    align-self: center;
}

img.design-systems {
    width: 80%;
    align-self: center;
    margin: 32px 10%;
}

/*  Hi-fi and Usability studies */

.mockup-container {
    padding: 32px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
}

.gif-description {
    margin-top: 32px;
    /* padding-top: 32px; */
    width: 60%;
}


img.gif {
    height: 400px;
}

.mockup-wrapper{
    display: flex;
    justify-content: center;
}

.mockup{
    height: 900px;
    padding: 16px 8px;
    align-self: center;
}

/* Takeaways */

/* More projects */

.more-projects-title{
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
}

.div-block{
    width: 80%;
    margin-left: 10%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ccc;
}

.projects-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 50px;
    cursor: pointer;
}

.project{
    display: flex;
    background-color: var(--background-color);
    border-radius: 4px;
    width: 48%;
    height: 250px;
    justify-content: space-between;
}

a.project{
    text-decoration: none;
}

.project:hover{
    transition: 500ms linear;
    transform: scale(1.1);
}

.project-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    height: 80%;
    object-fit: cover;
    border-radius: 4px;
}

.project-image-desktop img{
    height: 70%;
    object-fit: cover;
    margin-top: 40px;
}



.project-description {
    width: 50%;
    display: flex;
    /* padding-right: 50px; */
    /* padding-top: 70px; */
    justify-content: center;
    align-items: center;
}

.project-description h3 {
    color: #384272;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    margin:0;
    padding:0;
    text-align: center;
}

/* alterar com media query display flex flex do container para colunm para  teleas pequenas */

/* Footer */

footer {
    position: absolute;
    margin-bottom: 1.5rem;
    width: 100%;
    background: #fff;
    padding: 24px;
    font-size: 12px;
    color: var(--preto-color);
    text-align: center;
}

.row {
    display: flex;

}

.cell {
    flex: 1;
    padding: 16px 32px;
}



/* ----------------------------------------------------------------- */

/* Yogarhytm project */

.desktop-image{
    display: inline;
    gap: 9px;
    height: 450px;
}

.emphaty-map{
    width: 80%;
    text-align: center;
    margin: 16px 10%;
}

.design-process-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.design-process-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    height: 170px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    background: var(--secondary-color);
    color: #F6F2EE;
    border-radius: 50%;
    /* para centralizar os numeros, usei esse padding top mas nao tenho certeza se é a melhor opcao. */    
}

.separator{
    border-bottom: 2px solid #667085;
    width: 30px;
}

.competitors-logo-wrapper{
    margin: 32px auto;
    display: flex;
    justify-content: center;
}

.competitor-logo{
    text-align: center;
    padding: 30px;
}

.competitors-logo-icon{
    height: 60px;
}

figcaption{
    font-size: 14px;
}

table{
    margin: 16px auto;
    width: 100%;
    border: 1px solid var(--preto-color);
    border-bottom: 1px solid var(--preto-color);
}

tr{
    height: 40px;
    border-top: 1px solid var(--preto-color);
}

td{
    border-top: 1px solid var(--preto-color);

}

.greendot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: lightgreen; 
    margin: auto;  
}

.greendot div{
    text-align: center;
}

.reddot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: orange;
    margin: auto;
}

.yellowdot{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: yellow;
    margin: auto;
}

.flowchart{
    height: 200px;
}


.site-map{
    height: 400px;
    margin: 32px auto;
    padding-left: 150px;
}


.lo-fi-landpage-wrapper{
    padding-top: 32px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}

.lo-fi-landpage{
    width: 40%;
    border: 1px solid black;
    flex: 1;
    object-fit: contain;
}

/* design system yogarythm */

.design-system{
    display: flex;
}

.palette-container{
    display: flex;
    
}

.color-container{
    text-align: center;
}

.palette{
    margin: 10px;;
    width: 85px;
    height: 85px;
    background-color: #667085;
    border: 1px solid black;    
}

.teal{
    background-color: #2A9D8F;
}

.sky{
    background-color: #C1D8E2;
}

.black{
    background-color: #252525;
}

.gray{
    background-color: #667085;
}





/* hi-fidelity */



.btn-wrapper{
    display: flex;
    margin: 32px;
    flex-direction: column;
    justify-content: center;    
}

.dev-btn{
    margin:  8px auto;
    /* padding: 24px 32px; */
    padding: 16px 50px;
    color: var(--background-color);
    background-color: var(--secondary-color);
    letter-spacing: 3%;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
}

.snnipets{
    padding: 16px 40px;
    background-color: #f1f1f1;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.mockup-desktop-wrapper{
    padding-top: 32px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.hi-fi-desktop{
    width: 40%;
    border: 1px solid black;
    flex: 1;
    object-fit: contain;
}

.dev-paragraph{
    margin: 32px 0;
}

.project-image-mobile img{
    height: 70%;
    object-fit: cover;
    margin-top: 40px;
    margin-left: 100px;
}

