:root {
    --accent-color: #9C2E35;
    --secondary-color: #384272;
    --tertiary-color: #feaea3;
    --button-color: #e5b714;
    --preto-color: #252525;
    --background-color: #F6F2EE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scrollbar-color: var(--secondary-color, auto);
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    color: var(--preto-color);
}

section{
    width: 80%;
    margin: 48px auto;
}

section.background-colored {
    background-color: var(--background-color);
}

/* header */

.top-nav {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: transparent;
    z-index: 1000;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 50px;
}

.top-nav a {
    text-decoration: none;
}

.main-name-header {
    /* color: #252525; */
    color: var(--secondary-color);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    word-spacing: 22px;
}

span {
    color: var(--tertiary-color);
}

.ux-title span {
    color: linear-gradient(to right top, #384272, #755686, #ab6e93, #d98b9b, #feaea3);
}

.about,
.work,
.contact {
    color: #252525;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    position: absolute;
    cursor: pointer;
}

/* Case Study */

/* home page project */

.home-project {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.home-project h1 {
    padding-bottom: 10px;
}

.desktop-image{
    display: inline;
    gap: 9px;
    height: 450px;
}

/* Overview Project */

/* larger fonts look better with less line spacing. Especially headers */
h1 {
    color: var(--accent-color);
    font-size: 32px;
    letter-spacing: -2%;
}

h3{
    font-weight: bold;
    letter-spacing: -2%;
    padding-bottom: 8px;
    padding-top: 8px;
}

h4{
    font-weight: 600;
    padding-bottom: 8px;
}

/* Smaller text sizes work best with larger line-heights */
/* size 16px line-height: 140% */
/* spacing following the paragraph should be at least two times the font size */
p {
    font-size: 16px;
    line-height: 140%;
}

.row {
    display: flex;
    
}

.cell {
    flex: 1;
    padding: 16px 32px;
}

/* overview section */

.project-overview {
    padding: 16px;
    background-color: var(--background-color);
}

.overview-role {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.problem-goal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-overview .year {
    font-size: 24px;
    color: var(--accent-color);
    margin-bottom: 16px;
    font-weight: 600;
}

.project-overview h3 {
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 8px;
}

.project-overview p {
    line-height: 140%;
}

/* Design process */



/* Emphatize */

.emphaty-map{
    height: 600px;
    text-align: center;
}

.persona{
    height: 600px;
    text-align: center;
}

