
:root {
    --accent-color: #9C2E35;
    --secondary-color: #384272;
    --tertiary-color: #feaea3;
    --button-color: #e5b714;
    --preto-color: #252525;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scrollbar-color: var(--secondary-color, auto);
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

h2{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 16px;
}

/* Header */

.top-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 32px;
    background: #fff;
    z-index: 1000;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 50px;
}

.top-nav a {
    text-decoration: none;
}


.about,
.work,
.contact {
    color: #252525;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
}

.main-name-header {
    /* color: #252525; */
    color: var(--secondary-color);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    word-spacing: 22px;
}

span{
    color: var(--tertiary-color);
}

/* About session */



.about-container{
    width: 80%;
    /* background-color: peachpuff; */
    display: flex;
    /* flex-direction: row; */
    align-content: center;
    flex-wrap: wrap;
    /* gap: 50px; */
    margin: auto;
    padding-top: 32px;
    align-content: center;
    /* justify-content: center; */
    height: 600px;
}

 .about-content{
    width: 60%;
    font-size: 16px;
    text-align: left;
    margin-top: 80px;
    padding: 16px 8px;
    line-height: 140%;
 }

 .rectangle-design{
    width: 40%;
    height: 10px;
    flex-shrink: 0;
    margin-top: 30px;
    text-align: center;
}


.about-image{
    width: 300px;
    height: 363px;
    margin: auto;
    padding: 30px 20px;
    margin-top: 30px;
    /* flex-shrink: 0; */
}

.skills{
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 50px;
}


/* Footer */

footer{
    position:absolute;
    margin-bottom: 1.5rem;
    width:100%;
    background: #fff;
    padding: 24px;
    font-size: 12px;
    color: var(--preto-color);
    text-align: center;
}