/* fazer classes */
/* aqui estou criando variavel */
:root {
    --accent-color: #9C2E35;
    --secondary-color: #384272;
    --tertiary-color: #feaea3;
    --button-color: #e5b714;
    --preto-color: #252525;
    --background-color: #F6F2EE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scrollbar-color: var(--secondary-color, auto);
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    color: var(--preto-color);
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--secondary-color);
    /* ou que isso seja adicionado ao "caminho" da barra */
}

/* Adiciona a barra arrastável */
body::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

/* Header */
.top-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: transparent;
    z-index: 1000;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 50px;
}

.main-name-header {
    /* color: #252525; */
    color: var(--secondary-color);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    word-spacing: 22px;
}

span {
    color: var(--tertiary-color);
}

.ux-title {
    color: #384272;
}

/* .ux-title span{ //procura a classe ux-title e depois procura dentro do elemento que tem essa classe um elemento filho (neto) que seja um span; */

/*  sem espaco span.ux-title { um elemento span que possui a classe ux-title; */

span.ux-title {
    color: var(--secondary-color);
    /* color: linear-gradient(to right top, #feaea3,  #384272); */
    -webkit-transition: color 1s 1s;
    -moz-transition: color 1s 1s;
    -ms-transition: color 1s 1s;
    -o-transition: color 1s 1s;
    transition: color 1s 1s;
}

span.ux-title.new-color {
    color: var(--tertiary-color);
}

.top-nav.scrolled {
    background-color: #fff;
}

.about,
.work,
.contact {
    color: #252525;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    position: absolute;
    cursor: pointer;
    text-decoration: none;
}

.about{
    left: 0px;
    top: 0px;
}

.work{
    left: 101px;
    top: 0px;
    
}

/* The container <div> - needed to position the dropdown content */
/* eu tenho dois div com position relative que estao em conflito */
/* vou colocar em flex e align end */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.contact{
    left: 192px;
    top: 0px;
}

.figma-designer {
    /* position: relative; */
    width: 100%;
}

.triangulo {
    position: absolute;
    left: 0;
    top: -40px;
    transform: rotate(180deg);
}

.trapezio {
    position: absolute;
    left: 0;
    top: -40px;
    transform: rotate(180deg);
}



/* Home page */

/* aqui adicionei margim para deixar o meu titulo mais centralizado e ainda deixou o button mais proximo :) */

.home-page {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 169px;
    display: inline-flex;
    margin: 126px 0;
}

.home-container {
    height: 395px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 79px;
    display: inline-flex;
}

.home-content {
    height: 263px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: flex;
}


.title {
    width: 506px;
    height: 105px;
    margin-top: 10rem;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--secondary-color);
    /* primeiro parametro e a cor que eu escolhi e e o segundo parametro e uma cor default */
}


.subtitle {
    width: 497px;
    height: 126px;
    color: #21243D;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word
}

/* .resume-text {
    color: #252525;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 0.60px;
    word-wrap: break-word
}

.button-resume {
    height: 53px;
    font-family: Montserrat;
    letter-spacing: 0.6px;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #E5B714;
    color: var(--preto-color);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.25s;
} */

.button-resume:hover {
    border-color: #9C2E35;
}

/* My recents projects page */



.projects-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.project {
    display: flex;
    flex-direction: row;
    height: 480px;
    width: 70%;
    background-color: #F6F2EE;
    border-radius: 4px;
}

/* dentro do flex usar de flex */
.container-title {
    width: 70%;
}

.project-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    height: 80%;
    object-fit: cover;
    border-radius: 4px;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.project-description h3 {
    color: #384272;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word
}


.project-description p {
    color: #252525;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word
}


.project-description a {
    color: #667085;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: underline;
    word-wrap: break-word
}

/* contact session */

.contact-container {
    width: 100%;
    color: var(--secondary-color);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container p {
    color: var(--preto-color);
    padding-top: 1.5rem;
}

.icons {
    display: flex;
    margin: 3rem;
    gap: 20px;
    cursor: pointer;
}

.fa {
    color: var(--preto-color);
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    
}

.icon p {
    opacity: 0;
    font-size: 12px;
    color: var(--preto-color);
    visibility: hidden;
    padding: 5px 10px;
    background-color: var(--preto-color);
    color: var(--tertiary-color);
    font-weight: 600;
    position: relative;
}
.icon p::after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color:  var(--preto-color);
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}


.icon:hover p {
    opacity: 0.7;
    display: inline-block;
    visibility: visible;
}

.rectangle-design {
    width: 30%;
    height: 10px;
    flex-shrink: 0;
    text-align: center;
}


footer {
    position: absolute;
    margin-bottom: 1.5rem;
    width: 100%;
    background: #fff;
    padding: 24px;
    font-size: 12px;
    color: var(--preto-color);
    text-align: center;
}



/* header test */

.main-name-wrapper{
    display: flex;
    justify-content: flex-start;
}

.main-name-headertest {
    display: flex;
    /* color: #252525; */
    color: var(--secondary-color);
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    word-spacing: 22px;
}

.headertest{
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.top-nav-test{
    display: flex;
    /* position: fixed; */
    justify-content: flex-end;
    /* justify-content: space-between; */
    flex-direction: row;
    /* background: transparent; */
    /* z-index: 1000; */
    /* width: 100%; */
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 50px;
    gap: 32px;
}