/* fazer classes */
/* aqui estou criando variavel */
:root {
    --accent-color: #9C2E35;
    --secondary-color: #384272;
    --tertiary-color: #feaea3;
    --button-color: #e5b714;
    --preto-color: #252525;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    scrollbar-color: var(--secondary-color, auto);
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}


.top-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: transparent;
}

.main-name-header {
    color: #252525;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
    word-spacing: 22px;
}

.top-nav.scrolled {
    background-color: #fff;
}

.about,
.work,
.contact {
    color: #252525;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word
}


/* aqui adicionei margim para deixar o meu titulo mais centralizado e ainda deixou o buttom mais proximo :) */
.title {
    margin-top: 10rem;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--secondary-color);
    /* primeiro parametro e a cor que eu escolhi e e o segundo parametro e uma cor default */
}


.subtitle {
    color: #21243D;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word
}

.resume-text {
    color: #252525;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 0.60px;
    word-wrap: break-word
}

.button-resume {
    height: 53px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #E5B714;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border-color 0.25s;
}

.button-resume:hover {
    border-color: #9C2E35;
}



.figma-designer {
    /* position: relative; */
    width: 100%;
}

.triangulo {
    position: absolute;
    left: 0;
    top: -40px;
    transform: rotate(180deg);
}

.trapezio {
    position: absolute;
    left: 0;
    top: -40px;
    transform: rotate(180deg);
}

.projects-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.project {
    display: flex;
    flex-direction: row;
    height: 480px;
    width: 70%;
    background-color: #ecd3ab;
    border-radius: 4px;
}

/* dentro do flex usar de flex */
.container-title {
    width: 70%;
    /* align-self: flex-start; */
}

.project-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-image img {
    height: 80%;
    object-fit: cover;
    border-radius: 4px;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.project-description h3 {
color: #384272;
font-size: 40px;
font-family: Montserrat;
font-weight: 700;
word-wrap: break-word
}


.project-description p {
color: #252525;
font-size: 16px;
font-family: Montserrat;
font-weight: 400;
line-height: 22px;
word-wrap: break-word
}


.project-description a {
color: #667085;
font-size: 16px;
font-family: Montserrat;
font-weight: 500;
text-decoration: underline;
word-wrap: break-word
}