* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    border: 1px solid red;
    margin: 2em 0;
    padding: 2em;
}

img {
    width: 100px;
}

h1 {
    font-size: 4em;
    margin: 1em 0;
}

h2 {
    font-size: 2.5em;
    margin: 1em 0;
}

h3 {
    font-size: 1.7em;
    margin: 1em 0;
}

p {
    font-size: 1.2em;
    margin: 1em 0;
}